.add-list {
  display: flex;
  @include list-item;
  flex-shrink: 0;
  transition: $transision;

  .add-list-icon {
    @include list-icon;
    .add-icon {
      width: 100%;
    }
  }

  #add-list-input {
    padding: 0 10px;
    width: 100%;
    background-color: transparent;
    color: $color-text;
    font-size: 1rem;
    border: none;

    &:focus {
      outline: none;

      &::placeholder {
        color: darken($color-text, 20%);
      }
    }

    &::placeholder {
      color: $color-text;
    }
  }
}
